/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2014, 11:41:40 AM
    Author     : Vien Nguyen
*/

.search-box{padding: 0px 0px 20px 0px; float: left}
.widefat .column-col_id {
    width: 2.2em;    
    vertical-align: top;
}
.column-col_meta_title {
    width: 20%;
}
.column-col_meta_desc {
    width: 30%;
}

.title-len, .desc-len, .word-exceed {
    color: #FFF;
    border-radius: 2px;
    min-width: 15px;
    text-align: center;
    float: left;
    padding: 0px 10px;
    position: relative;
    bottom: 12px;
    left: 15px;
}

.title-len, .desc-len {
	background: none repeat scroll 0% 0% #7ad03a;
    
}
.word-exceed { 
	background: none repeat scroll 0% 0% #FFCC00;
}

.savedInfo {
    float: right;
    color: #999;
    margin-right: 30px;
}

/* Snippet */
.snippet {    
    border:none;
    padding: 4px;
    margin-top: 2px;
}

.snippet_metatitle{
    display: block;   
    color: #1a0dab;
    font-size: 16px!important;
    line-height: 1.2;    
    text-overflow: ellipsis;
    }
    .snippet_metalink {
        color: #006621;
    font-size: 13px;
    line-height: 16px;
    }

    .widefat .snippet_metades {
        color: #545454;
    }
    
a.snippet_metatitle:hover {
    text-decoration: underline;
     color: #1E0FBE;
}

a.info-content {
    outline:none; 
    padding-right: 10px;
}

a.info-content:hover {
    text-decoration:none;
} 

a.info-content .tooltip-metacontent {
    z-index:10;
    display:none; 
    padding:10px 15px;
    margin-top:3px; 
    margin-left:10px;
    width:250px; 
}

a.info-content img {
    height: 13px;
}

a.info-content .tooltip-metacontent .tooltip-metatitle {
    overflow: hidden;
    width: 512px;
    color: #1e0fbe;
    font-size: 18px!important;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.info-content .tooltip-metacontent .tooltip-metalink{color: #006621;
    font-size: 13px;
    line-height: 16px;
}

a.info-content .tooltip-metacontent .tooltip-metades { 
    color: #777
}

a.info-content:hover .tooltip-metacontent {
    display:inline; 
    position:absolute; 
    color:#777;
    border:1px solid #CCC;
    border-radius: 2px;
    background:#ffffff;    
}

a.info-content .tooltip-metacontent
{
    border-radius:2px;
    box-shadow: 5px 5px 8px #eee;
    
}

.metaseo-metatitle, .metaseo-metadesc{
	padding:4px 6px;
}
.action-wrapper{
	width:38%;
	float:left;
}
.snippet-wrapper{
	width:60%;
	float:left;
	margin-left:2%
}

@media all and (max-width:768px){
	.action-wrapper, .snippet-wrapper{
		width: auto; float:none;
	}
}

/* Alexa CSS */
.rank-row, .metrics-row {
    margin-bottom: 25px;
    margin-top: 0px !important;
}
a.tt {
    cursor: help;
}
.ptt {
    left: 57px;
    position: absolute;
    top: 210px;
}
.tt {
    color: #333;
    font-size: 12px !important;
    font-weight: normal !important;
    text-align: left;
    text-decoration: none !important;
}
.tt span {
    display: none;
}
.tt .fakeLink {
    text-decoration: underline;
}
.tt img {
    vertical-align: baseline;
}
.ptt-hover, .tt:hover {
    background: none repeat scroll 0 0 transparent;
    color: #aaaaff;
    position: relative;
    text-decoration: none;
    z-index: 10000;
}
.ptt-hover span.tttooltip, .tt:hover span.tttooltip {
    color: #111;
    display: block;
    left: -60px;
    padding: 15px 0 0;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: -10px;
    white-space: normal !important;
    width: 200px;
    z-index: 20000;
}
.ptt-hover.rightEnd span.tttooltip, .tt.rightEnd:hover span.tttooltip {
    left: auto;
    right: -20px;
}
.ptt-hover span.top, .tt:hover span.top {
    background: url("../img/bubble-top-v2.png") no-repeat scroll 80px 1px rgba(0, 0, 0, 0);
    display: block;
    padding: 15px 8px 0;
}
.ptt-hover.rightEnd span.top, .tt.rightEnd:hover span.top {
    background: url("/images/help/bubble-right.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.ptt-hover span.middle, .tt:hover span.middle {
    background-color: #f2f2f2;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    display: block;
    line-height: normal;
    padding: 8px;
}
.ptt-hover span.bottom, .tt:hover span.bottom {
    color: #548912;
    display: block;
    padding: 0 8px;
}
.popover {
    border: 1px solid #3b81de;
    box-shadow: none;
}
.popover, .popover-title, .popover a, .popover a:visited, .popover a:hover, .popover a:active {
    color: #fff;
}
.siteInfoPage h3.popover-title {
    color: #fff;
}
.popover-title {
    border-bottom: 0 none;
    font-size: 12px;
    font-weight: bold;
}
.popover, .popover-title {
    background-color: #3b81de;
}
.popover-content {
    padding-top: 0;
}
.popover.top {
    margin-top: -10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-left: -20px;
}
.popover.right {
    margin-left: 20px;
}
.popover.right .arrow, .popover.right .arrow:after {
    border-right-color: #3b81de;
}
.popover.left .arrow, .popover.left .arrow:after {
    border-left-color: #3b81de;
}
.popover.top .arrow, .popover.top .arrow:after {
    border-top-color: #3b81de;
}
.popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #3b81de;
}

.spark-bars {
    display: none;
}
.panel-wrapper.no-padding .traffic-rankpromo-content {
    padding: 12px 20px;
}

.img-inline {
    padding-right: 5px;
    vertical-align: middle;
}

.align-vmiddle {
    vertical-align: middle;
}
.metrics-data, .metrics-pending {
    color: #333;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 24px;
}
strong {
    font-weight: bold;
}
.change-wrapper {
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 3px 5px 3px 15px;
}
.change-up.change-r {
    background: url("../img/arrow-up.png") no-repeat scroll 5px 50% #c32f16;
    color: #fff;
}
.align-vmiddle {
    vertical-align: middle;
}
.change-up {
    background: url("../img/arrow-up.png") no-repeat scroll 5px 50% #68b325;
    color: #fff;
}

.change-down {
    background: #68b325 url("../img/arrow-down.png") no-repeat 5px 50%;
    color: #fff;
}

.no-wrap {
    white-space: nowrap;
}

.metrics-title {
    color: #666;
    font-weight: normal;
    margin: 0 0 10px;
}
.note-no-data{
	padding:12px 12px 12px 0;
}
.yellow-box {
    height: auto;
    padding: 5px 10px;
}
.yellow-box {
    background-color: #fdf9e0;
    border: 1px solid #feed78;
}
.note-no-data .col-pad {
    background: url("../img/no-data-alert.png") no-repeat scroll 0 50% transparent;
    display: block;
    padding-left: 45px;
}